Package: com.sigmabotg.nocapcutnotifications
Name: NoCapCutNotifications
Version: 1.0.0
Architecture: iphoneos-arm
Description: Chặn thông báo CapCut - Nút trong app
Author: sigmabotg
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
